.sidebar {
    width: 200px;
    height: 100vh;
    background: #357679;
    padding-top: 20px;
    /* position: fixed; */
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 18px;
    color: #ffffff;
    display: block;
}
.sidebar a:hover {
    background: #385455;
}
.content {
    margin-left: 250px;
    padding: 20px;
}

/* custom colors */
.bg-teal{
    background: #043e4a;
}
.bg-teal-2{
    background-color: #357679;
}
.bg-teal-light{
    background-color: #295d66;
}
.bg-light-transparent{
    background-color: #fff5;
}
.avatar {
    height:30px;
    width:30px;
    background-color: white;
    border-radius:50%;  
}
.create-task-form::placeholder{
    color: white;
}
#modal-form-input {
    color: #fff5;
}